extends ../layout/page.pug


block properties
	- const title = 'Wochenplan'
	- const filelink = '/wochenplan'

block append style
	+stylesheet('/style/wochenplan.css')

block main
	- const calendarUrl = 'https://calendar.google.com/calendar/ical/jf8et9j9k1keiruuqkgh7sokck%40group.calendar.google.com/public/basic.ics'
	h1 Wochenplan
	p Hier siehst du, was wir während der O-Phase mit euch vorhaben. Alle Veranstaltungen sind freiwillig. Wir empfehlen dir aber, möglichst viel mitzukommen – die O-Phase ist auch eine wichtige Gelegenheit, um Kommilitonen kennenzulernen. Zumindest zur FBI solltest du aber auf jeden Fall kommen.
	p Unsere Termine sind auch im iCal-Format online verfügbar, sodass du sie einfach in deinen digitalen Kalender importieren kannst:
	code.block= calendarUrl

	mixin Tag(Name, Datum)
		.day
			h3= Name
			span.date= Datum
			block
	mixin Event(Start, Titel)
		.event
			h4= Titel
			span.time #{Start} Uhr
			p
				block
	mixin Ort(link)
		span.place
			block

	- const Karte_Hasaf = 'https://www.google.de/maps/place/H%C3%B6rsaal+am+Fasanengarten/@49.0147077,8.4182337,17z/data=!3m1!4b1!4m5!3m4!1s0x47970633a1420017:0x5950ed2074fce6ba!8m2!3d49.0147077!4d8.4204224?hl=de'
	- const Karte_Altes_Stadion = 'https://www.google.de/maps/place/AKK+-+Arbeitskreis+Kultur+und+Kommunikation/@49.011154,8.4124523,17z/data=!3m1!4b1!4m5!3m4!1s0x4797063259717ec1:0x343954b4efbf72b!8m2!3d49.011154!4d8.414641?hl=de'
	- const Karte_Forum = "https://www.google.de/maps/place/49%C2%B000'42.2%22N+8%C2%B024'55.8%22E/@49.01173,8.4143927,18z/data=!3m1!4b1!4m5!3m4!1s0x0:0x0!8m2!3d49.01173!4d8.415487?hl=de"
	- const Karte_Hertz = 'https://www.google.de/maps/place/Hertz-H%C3%B6rsaal,+76131+Karlsruhe/@49.0095125,8.4107269,17z/data=!3m1!4b1!4m5!3m4!1s0x47970637bb5c80bd:0x255cc712c99bb777!8m2!3d49.0095125!4d8.4129156?hl=de'

	+Tag('Montag', '10. Oktober 2016')
		+Event('11:00', 'Eröffnung')
			| Die offizielle Eröffnungsveranstaltung der O-Phase.
			+Ort 
				+extlink(Karte_Hasaf) Hörsaal am Fasanengarten
		+Event('13:00', 'Kennenlernen')
		+Event('16:00', 'Campus-Führung')

	+Tag('Dienstag', '11. Oktober 2016')
		+Event('12:00', 'Mittagessen')
		+Event('14:00', 'Fachbereichsinformation (FBI)')
		+Event('18:00', 'O-Phest')
			| Gemeinsames Fest aller O-Phasen.
			+Ort #[+extlink('https://www.akk.org/') AKK] (im #[+extlink(Karte_Altes_Stadion) Alten Stadion])

	+Tag('Mittwoch', '12. Oktober 2016')
		+Event('15:30', 'Lehramt-Information')
			| Informationen für Lehramtstudenten.

	+Tag('Donnerstag', '13. Oktober 2016')
		+Event('12:45', 'O-Lympia')
			| Olympiade der O-Phase. Falls es regnet veranstalten wir ein Alternativprogramm aus wahlweise Schwimmbad, Kino und Gesellschaftsspielen.
			+Ort #[+extlink(Karte_Forum) Forum] (vor dem Audimax)


	+Tag('Freitag', '14. Oktober 2016')
		+Event('11:00', 'Abschlussveranstaltung')
			| Die offizielle Abschlussveranstaltung der O-Phase mit Siegerehrung der O-Really.

	+Tag('Samstag', '15. Oktober 2016')
		+Event('20:00', 'Uni-Kino')
			| Eine spezielle Vorstellung des Uni-Kinos für die O-Phase. Gezeigt wird „#[+extlink('http://www.imdb.com/title/tt1431045/') Deadpool]“.
			+Ort #[+extlink('http://afk-filmkreis.de/') AFK] (im #[+extlink(Karte_Hertz) Hertz-Hörsaal])
