extends ../layout/page.pug


block properties
	- const Titel = 'Wochenplan'
	- const Link = '/wochenplan'
	- const Schlagwörter = 'Wochenplan,Programm,Essen,FBI,Fachbereichsinformation,Cocktailabend,Kneipentour'

block append style
	+stylesheet('/style/wochenplan.css')

block main
	- const calendarUrl = 'https://calendar.google.com/calendar/ical/jf8et9j9k1keiruuqkgh7sokck%40group.calendar.google.com/public/basic.ics'
	h1 Wochenplan
	p Hier siehst du, was wir während der O-Phase mit euch vorhaben. Alle Veranstaltungen sind freiwillig. Wir empfehlen dir aber, möglichst viel mitzukommen – die O-Phase ist auch eine wichtige Gelegenheit, um Kommilitonen kennenzulernen. Zumindest zur FBI solltest du aber auf jeden Fall kommen.
	p Unsere Termine sind auch im #[code iCal]-Format online verfügbar, sodass du sie einfach in deinen digitalen Kalender importieren kannst:
	code.block= calendarUrl

	mixin Tag(Name, Datum)
		.day
			h3= Name
			span.date= Datum
			block
	mixin Event(Start, Titel)
		.event
			h4= Titel
			span.time #{Start} Uhr
			p
				block
	mixin Ort(link)
		span.place
			block

	mixin Kartenlink(link)
		+extlink(link[0])
			block
		if link[1]
			+extlink(link[1]).osm: img(src='/graphic/openstreetmap32.png', alt='OSM')

	-
		const Karte_Gerthsen = ['https://www.google.de/maps/place/Gerthsen-H%C3%B6rsaal,+76131+Karlsruhe/@49.0125142,8.4093303,17z/data=!3m1!4b1!4m5!3m4!1s0x4797063602b00347:0xb8e1d87ee9ea5ebb!8m2!3d49.0125401!4d8.4115629?hl=de',
			'https://www.openstreetmap.org/way/407200529#map=19/49.01251/8.41151']
		const Karte_Audimax = ['https://www.google.de/maps/place/KIT+Audimax/@49.0125189,8.415711,18.25z/data=!4m8!1m2!2m1!1sKIT+Audimax,+Karlsruhe!3m4!1s0x479706369d955555:0x3b783f6c36bbeb29!8m2!3d49.0126825!4d8.4158314', 'https://www.openstreetmap.org/way/247422979#map=19/49.01284/8.41552']
		const Karte_Ox = ['https://www.google.com/maps/place/Oxford+Pub/@49.0086606,8.4125303,19z/data=!4m13!1m7!3m6!1s0x479706379b45b279:0x7584e25c70a262f4!2sFasanenstra%C3%9Fe+6,+76131+Karlsruhe,+Deutschland!3b1!8m2!3d49.0086606!4d8.4130775!3m4!1s0x0:0x823aadf9ebe8bb1d!8m2!3d49.0085683!4d8.4129196',
			'https://www.openstreetmap.org/node/2334081402']
		const Karte_Vogelbraeu = ['https://www.google.com/maps/place/Vogelbr%C3%A4u+Karlsruhe/@49.0074459,8.4117799,17z/data=!3m1!4b1!4m5!3m4!1s0x479706375ff80665:0x8481b564b9038680!8m2!3d49.0074424!4d8.4139686', 'https://www.openstreetmap.org/node/534790866#map=19/49.00739/8.41401']
		const Karte_Altes_Stadion = ['https://www.google.de/maps/place/AKK+-+Arbeitskreis+Kultur+und+Kommunikation/@49.011154,8.4124523,17z/data=!3m1!4b1!4m5!3m4!1s0x4797063259717ec1:0x343954b4efbf72b!8m2!3d49.011154!4d8.414641?hl=de',
			'https://www.openstreetmap.org/way/37799411#map=19/49.01117/8.41460']
		const Karte_Forum = ["https://www.google.de/maps/place/49%C2%B000'42.2%22N+8%C2%B024'55.8%22E/@49.01173,8.4143927,18z/data=!3m1!4b1!4m5!3m4!1s0x0:0x0!8m2!3d49.01173!4d8.415487?hl=de",
			'https://www.openstreetmap.org/way/260318329']
		const Karte_Hertz = ['https://www.google.de/maps/place/Hertz-H%C3%B6rsaal,+76131+Karlsruhe/@49.0095125,8.4107269,17z/data=!3m1!4b1!4m5!3m4!1s0x47970637bb5c80bd:0x255cc712c99bb777!8m2!3d49.0095125!4d8.4129156?hl=de',
			'https://www.openstreetmap.org/way/46834831#map=19/49.00953/8.41287']
		const Karte_Lago = ['https://www.google.de/maps/place/Lago/@49.024847,8.3512507,17z/data=!3m1!4b1!4m5!3m4!1s0x47970727adc149a3:0x76fa8867b10feb24!8m2!3d49.024847!4d8.3534394?hl=de',
			'https://www.openstreetmap.org/way/96860719']
		const Karte_SCC = ['https://www.google.de/maps/place/Steinbuch+Centre+for+Computing+(SCC)/@49.0122915,8.4058661,17z/data=!3m1!4b1!4m5!3m4!1s0x4797064975dddd03:0x5249774f83c382a2!8m2!3d49.0122915!4d8.4080548?hl=de',
			'https://www.openstreetmap.org/way/154765886']
		const Karte_HaDiKo = ['https://www.google.de/maps/place/Hans-Dickmann-Kolleg/@49.0201791,8.4207664,17z/data=!3m1!4b1!4m5!3m4!1s0x479707cdb2e27c8f:0x909cb0a2a6e1329!8m2!3d49.0201791!4d8.4229551?hl=de',
			'https://www.openstreetmap.org/way/356386058']
		const Karte_Insterburg = ['https://www.google.de/maps/place/Insterburg/@49.0363994,8.4328968,18.75z/data=!4m5!3m4!1s0x479707dd64444147:0xe5f0e7db443810b5!8m2!3d49.03645!4d8.43354',
			'https://www.openstreetmap.org/way/136032188']
		const Karte_Normannia = ['https://www.google.com/maps/place/K.D.St.V.+Normannia/@49.0149153,8.4215328,17z/data=!3m1!4b1!4m5!3m4!1s0x479706328bcdc411:0x2ba47d6980ec857d!8m2!3d49.0149118!4d8.4237215', 'https://www.openstreetmap.org/way/173717520#map=18/49.01476/8.42405']
		const Karte_Mensa = ['https://www.google.de/maps/place/Mensa+am+Adenauerring/@49.0201787,8.4142003,15z/data=!4m8!1m2!2m1!1smensa+kit!3m4!1s0x0:0x2d93d5ea5b39cdbe!8m2!3d49.0118745!4d8.416898?hl=de',
			'https://www.openstreetmap.org/node/442956482#map=19/49.01193/8.41683']
		const Karte_Marktplatz = ['https://www.google.de/maps/place/Karlsruhe,+Marktplatz/@49.0091928,8.4037639,20z/data=!4m5!3m4!1s0x4797065cc37a18d1:0x92d420d2df72ca26!8m2!3d49.0092205!4d8.4039116?hl=de',
			'https://www.openstreetmap.org/relation/5559765']
		const Karte_Europaplatz = ['https://www.google.com/maps/place/Europaplatz,+76133+Karlsruhe/@49.0099302,8.3920208,17z/data=!3m1!4b1!4m8!1m2!2m1!1sEuropaplatz!3m4!1s0x479706508f790955:0x6ba7b951b59d896!8m2!3d49.0099421!4d8.3946948', 'https://www.openstreetmap.org/relation/4208150#map=19/49.00997/8.39421']
		const Karte_Emaille = ['https://www.google.de/maps/place/Cafe+Emaille/@49.009953,8.3931562,17z/data=!4m5!3m4!1s0x479706506723051b:0xcc0568a06fe0430e!8m2!3d49.0101677!4d8.3954093',
			'https://www.openstreetmap.org/node/259777680']
		const Karte_Bleu = ['https://www.google.com/maps/place/Caf%C3%A9+Bleu/@49.0099555,8.3824693,17z/data=!3m1!4b1!4m5!3m4!1s0x479706f806ddd73f:0x67b8118f64337f0a!8m2!3d49.009952!4d8.384658', 'https://www.openstreetmap.org/node/289245159']
		const Karte_Brauhaus = ['https://www.google.de/maps/place/Badisch+Brauhaus/@49.008726,8.3933296,17z/data=!4m8!1m2!2m1!1sbrauhaus!3m4!1s0x47970650e027dfef:0x8669971215d642bd!8m2!3d49.0118517!4d8.3939437?hl=de',
			'https://www.openstreetmap.org/way/90626454']
		const Karte_Plank = ['https://www.google.de/maps/place/Plank-H%C3%B6rsaal,+76131+Karlsruhe/@49.014428,8.4160806,18z/data=!3m1!4b1!4m12!1m6!3m5!1s0x4797064d7da356a3:0xbdaeb296b0747bed!2sKarlsruher+Institut+f%C3%BCr+Technologie!8m2!3d49.0119199!4d8.4170303!3m4!1s0x4797063468da3b09:0xbe1d55cee6996c0f!8m2!3d49.014518!4d8.4173264?hl=de',
			'https://www.openstreetmap.org/way/196917733']
		const Karte_Lehmann = ['https://www.google.de/maps/place/Lehmann-H%C3%B6rsaal,+76131+Karlsruhe/@49.0124216,8.4096434,18.25z/data=!4m5!3m4!1s0x47970649ee32439f:0x24f80d5924828f46!8m2!3d49.0124468!4d8.4104233',
			'https://www.openstreetmap.org/node/2666061092']
		const Karte_Redtenbacher = ['https://www.google.de/maps/place/Redtenbacher+H%C3%B6rsaal,+76131+Karlsruhe/@49.0099248,8.411487,17z/data=!3m1!4b1!4m5!3m4!1s0x47970637a91445f5:0xa785a73eefe7c8af!8m2!3d49.0099434!4d8.4136681?hl=de',
			'https://www.openstreetmap.org/way/244951291']
		const Karte_Mathebau = ['https://www.google.de/maps/place/Geb%C3%A4ude+20.30,+Englerstra%C3%9Fe+2,+76131+Karlsruhe/@49.0110813,8.4085909,19z/data=!3m1!4b1!4m5!3m4!1s0x47970649b6bc7e79:0x9feab4e37b8ca4a6!8m2!3d49.0110804!4d8.4091381?hl=de',
			'https://www.openstreetmap.org/way/42321004#map=19/49.01108/8.40914']
		const Karte_Infobau = ['https://www.google.com/maps/place/Informatik-Hauptgeb%C3%A4ude,+Am+Fasanengarten+5,+76131+Karlsruhe/@49.0138249,8.4190117,18z/data=!3m1!4b1!4m5!3m4!1s0x47970633960ce621:0xa47be102bfa7364!8m2!3d49.0138237!4d8.4197592', 'https://www.openstreetmap.org/way/155674961']
		const Karte_Benz = ['https://www.google.de/maps/place/KIT+Benz+H%C3%B6rsaal/@49.0096194,8.4110926,17z/data=!3m1!4b1!4m5!3m4!1s0x47970637a5b2d193:0x6269eedeac2ee5d!8m2!3d49.0096159!4d8.4132813','https://www.openstreetmap.org/way/288535407']
		const Karte_HSaF = ['https://goo.gl/maps/6HbPJZSq2RokjL457', 'https://www.openstreetmap.org/way/37787402#map=19/49.01472/8.42037']
		const Karte_EAS = ['https://goo.gl/maps/r4w57wyk1khrNS5L6','https://www.openstreetmap.org/way/309066194#map=18/49.01078/8.41301']
		const Karte_K1 = ['https://goo.gl/maps/Lwr55t1rgU9szKaZA', 'https://www.openstreetmap.org/relation/5320078']
		const Karte_Pfannestiel = ['https://goo.gl/maps/yiLbSChyY3YThdZM9', 'https://www.openstreetmap.org/node/538160948']
		const Karte_Studentenhaus = ['https://goo.gl/maps/QsweiMrCfzoNh3Ky6','https://www.openstreetmap.org/way/155277825']

	+Tag('Montag', '7. Oktober 2019')
		+Event('9:00', 'Eröffnung')
			| Die offizielle Eröffnungsveranstaltung der O-Phase.
			+Ort: +Kartenlink(Karte_Audimax) Audimax
		+Event('12:00', 'Kennenlernen')
		+Event('15:00', 'Campus-Führung')
		+Event('19:00', 'Abendessen')
			+Ort Turing: #[+extlink('https://www.oxfordpub.de/') Oxford Pub] (#[+Kartenlink(Karte_Ox) Fasanenstraße 6])
			+Ort Lovelace: #[+extlink('https://pfannestiel.business.site/') Pfannestiel] (#[+Kartenlink(Karte_Pfannestiel) Am Künstlerhaus 53])

	+Tag('Dienstag', '8. Oktober 2019')
		+Event('10:00', 'Abholen der KIT-Karten')
			| Wir gehen gemeinsam eure KIT-Karten abholen. Falls ihr noch weitere Formalitäten klären müsst, erledigen wir das auch mit euch.
			+Ort #[+Kartenlink(Karte_Studentenhaus) Studentenhaus]
		+Event('12:30', 'Mittagessen')
			+Ort Turing: #[+extlink('https://www.vogelbraeu.de/') Der Vogelbräu] (#[+Kartenlink(Karte_Vogelbraeu) Kapellenstraße 50])
			+Ort Lovelace: #[+extlink('https://www.oxfordpub.de/') Oxford Pub] (#[+Kartenlink(Karte_Ox) Fasanenstraße 6])
		+Event('14:00', 'Fachbereichsinformation (FBI)')
			| In der Fachbereichsinformation werden alle organisatorischen Fragen zu eurem Studiengang geklärt.
			+Ort Treffpunkt um 13:30: #[+Kartenlink(Karte_Altes_Stadion) vor dem AKK]
		+Event('16:30', 'Bowlen')
			| Wir gehen ins #[+extlink('http://www.lago-bowling.de/') Lago]. Neben Bowling kann man sich dort mit einem Riesen-Tischkicker, Billiard, Air-Hockey, Dart und anderen schönen Dingen vergnügen.
			+Ort #[+extlink('http://www.lago-bowling.de/') LAGO Bowling Center] (#[+Kartenlink(Karte_Lago) Gablonzer Straße 13])
		+Event('18:00', 'O-Phest')
			| Gemeinsames Fest verschiedener O-Phasen.
			+Ort #[+Kartenlink(Karte_Altes_Stadion) AKK]

	+Tag('Mittwoch', '9. Oktober 2019')
		+Event('9:30', 'Frühstück')
			| Gemeinsames Frühstück in unseren Seminarräumen. Bringt Geschirr, Besteck und was aufs Brot mit!
			+Ort Turing: Seminarraum SR -1.012 im #[+Kartenlink(Karte_Mathebau) Mathebau]
			+Ort Lovelace: Seminarraum SR -1.013 im #[+Kartenlink(Karte_Mathebau) Mathebau]
		+Event('11:00', 'O-Phasen-Rallye')
			| Rallye über den gesamten Campus. Die verschiedenen O-Phasen-Gruppen treten gegeneinander an.
		+Event('11:30', 'Lehramt-Information')
			| Informationen für Lehramtstudenten.
			+Ort: +Kartenlink(Karte_EAS) Engelbert-Arnold-Hörsaal
		+Event('20:00', 'Kneipentour')
			| Wir ziehen durch die schönsten Karlsruher Kneipen.
			+Ort Treffpunkt Turing: #[+Kartenlink(Karte_Marktplatz) Marktplatz]
			+Ort Treffpunkt Lovelace: #[+Kartenlink(Karte_Europaplatz) Europaplatz]

	+Tag('Donnerstag', '10. Oktober 2019')
		+Event('11:00', 'Frühstück im Cafe')
			| Frühstück im Café Emaille bzw. Café Bleu.
			+Ort Turing: #[+Kartenlink(Karte_Emaille) Café Emaille]
			+Ort Lovelace: #[+Kartenlink(Karte_Bleu) Café Bleu]
		+Event('13:30', 'O-Lympia')
			| Olympiade der O-Phase. Falls es regnet veranstalten wir ein Alternativprogramm aus wahlweise Kino oder Gesellschaftsspielen.
			+Ort #[+Kartenlink(Karte_Forum) Forum] (vor dem Audimax)
		+Event('20:00', 'Spieleabend')
			| Spieleabend mit Gesellschaftsspielen. Ihr seid herzlich eingeladen eure Lieblingsspiele mitzubringen.
			+Ort Turing: Seminarraum SR -1.012 im #[+Kartenlink(Karte_Mathebau) Mathebau]
			+Ort Lovelace: Seminarraum SR -1.013 im #[+Kartenlink(Karte_Mathebau) Mathebau]

	+Tag('Freitag', '11. Oktober 2019')
		+Event('11:30', 'Abschlussveranstaltung')
			| Die offizielle Abschlussveranstaltung der O-Phase mit Siegerehrung der O-Rallye.
			+Ort: +Kartenlink(Karte_HSaF) Fasanengarten-Hörsaal
		+Event('12:30', 'Mittagessen in der Mensa')
			+Ort: +Kartenlink(Karte_Mensa) Mensa am Andenauerring
		+Event('14:30', 'SCC-Führung')
			| Führung durch das #[+extlink('https://www.scc.kit.edu/') SCC], das Rechenzentrum des KIT. Neben den Angeboten für Studenten wird auch der  Landeshöchstleistungsrechner vorgestellt.
			+Ort #[+Kartenlink(Karte_SCC) Steinbuch Centre for Computing]
		+Event('20:00', 'Cocktail-Abend')
			| Gegen einen günstigen Festpreis bereiten wir euch den ganzen Abend lang leckere Cocktails zu – mit und ohne Alkohol.
			+Ort #[+Kartenlink(Karte_K1) K1-Bar] (Wer das nicht findet: 20:00 am #[+Kartenlink(Karte_Infobau) Infobau])

	+Tag('Samstag', '12. Oktober 2019')
		+Event('10:00', 'Mädelsbrunch')
			| Frauen sind in unseren Fächern leider immer noch stark untervertreten. Deswegen sind alle Frauen unter den Erstis herzlich zu einem gemeinsamen, O-Phasen-Gruppen übergreifenden Brunch eingeladen.
			+Ort #[+Kartenlink(Karte_Mathebau) Mathebau]

	//+Tag('Montag', '22. Oktober 2017')
		+Event('19:15', 'Kick-Off Mentorenprogramm')
			| Das Mentorenprogramm der Fakultät stellt Erstis eine(n) Student(in) höheren Semesters zur Verfügung, um sich über Studium, Lerntechniken &amp; Co. auszutauschen.
			+Ort: +Kartenlink(Karte_Audimax) Audimax
