mixin extlink(address)
	a(href=address,target='_blank').ext&attributes(attributes)
		if block
			block
		else
			| #{address}

mixin maillink(address) 
	a(href=`mailto:${address}`)&attributes(attributes)= address

mixin section(address, name)
	if !!name
		h1(id=`${address}`)= name
	else
		h1(id=`${address}`)= address